.root {
  list-style: none;
  padding: 0 1rem;
  border-bottom: .1rem solid darken(#fff, 10%);
  display: flex;
  margin: 0;
  height: 2rem;
}

.tab {
  &, &-active {
    color: grey;
    padding: .5rem 1rem;
    border-top: .1rem solid darken(#fff, 10%);
    border-right: .1rem solid darken(#fff, 10%);
    border-left: .1rem solid darken(#fff, 10%);
    border-radius: .2rem .2rem 0 0;

    & > a {
      text-decoration: none;
      color: inherit;
    }
  }

  background: linear-gradient(to bottom, #fff 0%, darken(#fff, 5%) 100%);

  &-active {
    background-color: white;
    height: 1rem;
  }

  &:not(:last-child), &-active:not(:last-child) {
    margin-right: .5rem;
  }
}
