.root {
  list-style: none;
  display: flex;
  margin: 0;
}

.step {
  &, &-active {
    padding: .5rem 2rem;

    & > button {
      border: none;
      background-color: transparent;
    }
  }

  & > button {
    color: #aec5ea;
  }

  &-active {
    & > button {
      color: inherit;
      font-weight: bold;
    }
  }
}
