$bg: #f1f1f1;

.root {
  background-color: $bg;
  border-bottom: .1rem solid darken($bg, 10%);
  padding: .2rem 0;
}

.content {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  margin: 0;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 100;
}
